  
@model List<TiendaComida.Models.Comida>
    
  <div class="quick-view"></div>

  <main class="main-content container" role="main">
    


<div class="breadcrumb">
  <a href="../index.html" title="Back to the frontpage" data-translate="general.breadcrumbs.home">Inicio</a>  
  
  
  
    <span class="arrow">/</span>
    
    <span class="lang1"><a title="">BUSCASTE</a></span>
    <span class="lang2"><a title="">SNACKS</a></span>
    
  
  

  
</div>





<div class="row">
  <div class="col-xs-3 sidebar collection-sidebar">
  
  <div class="widget sidebar-links">
    <div class="widget-title">
      <h3>
        
          <span class="lang1">CATEGORÍA</span>
          <span class="lang2">Categorías</span>
        
      </h3>
    </div>
    <div class="widget-content">
      <ul>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <li>
          <a href="boxes.html" >
              
                <span class="lang1">BOXES</span>
                <span class="lang2">BOXES</span>
              
          </a>
        </li>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <li>
          <a href="dietas-2.html" >
              
                <span class="lang1">DIETAS</span>
                <span class="lang2">DIETAS</span>
              
          </a>
        </li>
        
        
        
        
        
        
        
        
        
        
        <li>
          <a href="empresas.html" >
              
                <span class="lang1">EMPRESAS</span>
                <span class="lang2">EMPRESAS</span>
              
          </a>
        </li>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <li>
          <a href="party-food.html" >
              
                <span class="lang1">PARTY FOOD</span>
                <span class="lang2">PARTY FOOD</span>
              
          </a>
        </li>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <li>
          <a href="snacks.html"  class="active" >
              
                <span class="lang1">SNACKS</span>
                <span class="lang2">SNACKS</span>
              
          </a>
        </li>
        
        
        
      </ul>
    </div>
  </div>
  
  
  
  

<div class="refined-widgets">
  <span data-translate="collections.sidebar.refined_by">Definido por</span>
  <a href="javascript:void(0)" class="clear-all" style="display:none" data-translate="collections.sidebar.clear_all">
    Vaciar todo
  </a>
  
</div>

<div class="sidebar-block">



<div class="sidebar-custom sidebar-tag size">
  
  <div class="widget-title">
    <h3>
      
        <span class="lang1">ENVASE</span>
        <span class="lang2">CONTAINER</span>
      
      <a href="javascript:void(0)" class="clear" style="display:none" data-translate="collections.sidebar.clear">
        Vaciar
      </a>
    </h3>
  </div>
  <div class="widget-content">
    <ul>
        
        
        
        
        <li>
          
            <input type="checkbox" class="lang1" value="vidrio"/>
            <label class="lang1">Vidrio</label>
            <input type="checkbox" class="lang2" value="vidrio"/>
            <label class="lang2">Vidrio</label>
          
      	</li>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </ul>
  </div>
</div>



<div class="sidebar-custom sidebar-tag">
  
  <div class="widget-title">
    <h3>
      
        <span class="lang1">ESTILO</span>
        <span class="lang2">STYLE</span>
      
      <a href="javascript:void(0)" class="clear" style="display:none" data-translate="collections.sidebar.clear">
        Vaciar
      </a>
    </h3>
  </div>
  <div class="widget-content">
    <ul>
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="menos-200kcal"/>
            <label class="lang1">Menos 200kcal</label>
            <input type="checkbox" class="lang2" value="menos-200kcal"/>
            <label class="lang2">Menos 200kcal</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="libre-gluten"/>
            <label class="lang1">Libre Gluten</label>
            <input type="checkbox" class="lang2" value="libre-gluten"/>
            <label class="lang2">Libre Gluten</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="libre-soya"/>
            <label class="lang1">Libre Soya</label>
            <input type="checkbox" class="lang2" value="libre-soya"/>
            <label class="lang2">Libre Soya</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="libre-lactosa"/>
            <label class="lang1">Libre Lactosa</label>
            <input type="checkbox" class="lang2" value="libre-lactosa"/>
            <label class="lang2">Libre Lactosa</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="vegano"/>
            <label class="lang1">Vegano</label>
            <input type="checkbox" class="lang2" value="vegano"/>
            <label class="lang2">Vegano</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="alto-en-proteina"/>
            <label class="lang1">Alto en Proteína</label>
            <input type="checkbox" class="lang2" value="alto-en-proteina"/>
            <label class="lang2">Alto en Proteína</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="alto-en-fibra"/>
            <label class="lang1">Alto en Fibra</label>
            <input type="checkbox" class="lang2" value="alto-en-fibra"/>
            <label class="lang2">Alto en Fibra</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="bajo-en-azucar"/>
            <label class="lang1">Bajo en Azúcar</label>
            <input type="checkbox" class="lang2" value="bajo-en-azucar"/>
            <label class="lang2">Bajo en Azúcar</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="bajo-en-grasa"/>
            <label class="lang1">Bajo en Grasa</label>
            <input type="checkbox" class="lang2" value="bajo-en-grasa"/>
            <label class="lang2">Bajo en Grasa</label>
          
      	</li>
        
        
        
        

        
        <li>
          
            <input type="checkbox" class="lang1" value="bajo-en-sodio"/>
            <label class="lang1">Bajo en Sodio</label>
            <input type="checkbox" class="lang2" value="bajo-en-sodio"/>
            <label class="lang2">Bajo en Sodio</label>
          
      	</li>
        
        
    </ul>
  </div>
</div>



<div class="sidebar-custom sidebar-tag">
  
  <div class="widget-title">
    <h3>
      
        <span class="lang1">PRECIO</span>
        <span class="lang2">PRICE</span>
      
      <a href="javascript:void(0)" class="clear" style="display:none" data-translate="collections.sidebar.clear">
        Vaciar
      </a>
    </h3>
  </div>
  <div class="widget-content">
    <ul>
        
        
        
        
        <li>
          
            <input type="checkbox" class="lang1" value="menos-de-s-20"/>
            <label class="lang1">Menos de S/20</label>
            <input type="checkbox" class="lang2" value="menos-de-s-20"/>
            <label class="lang2">Menos de S/20</label>
          
      	</li>
        
        
        
        
        
        <li>
          
            <input type="checkbox" class="lang1" value="s-21-s-50"/>
            <label class="lang1">S/21 - S/50</label>
            <input type="checkbox" class="lang2" value="s-21-s-50"/>
            <label class="lang2">S/21 - S/50</label>
          
      	</li>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </ul>
  </div>
</div>

</div>
  
  
  
  
  <p class="sidebar-banner">
  <a href="#" title="">
  	<img src="../../cdn.shopify.com/s/files/1/1534/3917/t/14/assets/banner-sidebar163b.jpg?13797207298018700788" alt="" />
  </a>
</p>
  
  
  
  <div class="sidebar-cms-custom">
  <div class="widget-title">
      <h3>
        
          <span class="lang1">DELIVERY SALUDABLE</span>
          <span class="lang2">HEALTHY DELIVERY</span>
        
      </h3>
  </div>
  
    <div class="widget-content lang1"><B>Cobertura getUP!<H6>
Delivery de Lunes a Sábado<BR>
Desde las 6am hasta las 7pm<BR>
Entrega previa coordinación<BR>
Llegamos a gratis a 16 distritos de Lima de 6 a 8:30am

<HR align="CENTER" size=“1” width=“100" color=“Black” noshade>

<B>Canales de Atención<H6>
Central: 711-0011<BR>
Whatsapp: 977-805-647<BR>
clientes@getup.com.pe<BR>
Lunes a Sábado de 7am a 7pm<BR></div>
    <div class="widget-content lang2"><B> Coverage getUP! <H6>
Delivery from Monday to Saturday <BR>
From 6am to 7pm <BR>
Delivery prior coordination <BR>
We arrived free in 16 districts of Lima from 6 to 8:30am

<HR align = "CENTER" size = "1" width = "100" color = "Black" noshade>

<B> Care Channels <H6>
Central: 711-0011 <BR>
Whatsapp: 977-805-647 <BR>
clientes@getup.com.pe <BR>
Monday to Saturday from 7am to 7pm <BR></div>
  
</div>
  
  
</div>
  <div class="block-row col-xs-9 col-main">    
    
    <header class="page-header">
      <div class="img_cart">
      
        <img src="../../cdn.shopify.com/s/files/1/1534/3917/t/14/assets/img_cat163b.jpg?13797207298018700788" alt="" />
      
      </div>
      
      <h2 class="lang1">Busqueda de comidas</h2>
      <h2 class="lang2">SNACKS</h2>
      
      
        
        
        <div class="rte lang1">Buscar resultados por &quot;@ViewBag.Clave&quot; </div>
        <div class="rte lang2">Delicioso Snacks para devorar sin culpas</div>
        
      
    </header>

    
    
    <div class="toolbar">
  <div class="view-mode">
    <label data-translate="collections.toolbar.view_as">Visto como</label>
    <!--<span class="grid" title="Grid view">Grid</span>-->
    <a class="grid active" href="grid.html" title="Tabla" data-translate="collections.general.grid_view" translate-item="title"><span data-translate="collections.general.grid_view">Tabla</span></a>  
    <a class="list" href="list.html" title="Lista" data-translate="collections.general.list_view" translate-item="title"><span data-translate="collections.general.list_view">Lista</span></a>
  </div>
  
    <div class="filter-show btn-group">
      <label data-translate="collections.toolbar.show">Mostrar</label>
      <button class="btn btn-2 dropdown-toggle" data-toggle="dropdown">
        <i class="icon-exchange"></i>
        
        <span>12</span>
        
        <i class="icon-chevron-down"></i>
      </button>
      
      <ul class="dropdown-menu" role="menu">
        
        
        <li  class="active" ><a href="12.html">12</a></li>
       	<li  ><a href="16.html">16</a></li>
       	<li ><a href="32.html">32</a></li>
        <li ><a href="all.html" data-translate="collections.toolbar.all">Todos</a></li>
      </ul>
    </div>
    
    <div class="filter-sortby btn-group">
      <label for="sort-by"  data-translate="collections.sorting.title">Ordenar por</label> 
      <button class="btn btn-2 dropdown-toggle" data-toggle="dropdown">
        <i class="icon-exchange"></i>
        <span data-translate="collections.sorting.featured">Destacados</span>
        <i class="icon-chevron-down"></i>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li class="active"><a href="manual.html" data-translate="collections.sorting.featured">Destacados</a></li>
        <li><a href="price-ascending" data-translate="collections.sorting.price_ascending">Precio, menor a mayor</a></li>
        <li><a href="price-descending" data-translate="collections.sorting.price_descending">Precio, mayor a menor</a></li>
        <li><a href="title-ascending.html" data-translate="collections.sorting.az">Alfabéticamente, A-Z</a></li>
        <li><a href="title-descending.html" data-translate="collections.sorting.za">Alfabéticamente, Z-A</a></li>
        <li><a href="created-ascending.html" data-translate="collections.sorting.date_ascending">Fecha, antiguo a nuevo</a></li>
        <li><a href="created-descending.html" data-translate="collections.sorting.date_descending">Fecha, nuevo a antiguo</a></li>
        <li><a href="best-selling.html" data-translate="collections.sorting.best_selling">Más vendidos</a></li>
      </ul>
    </div>    

</div>
    
    
    
    <div class="products-grid row">
            
        

        
        <div class=" no_crop_image grid-item col-xs-6 col-sm-4 col-md-4 col">




            @foreach (var item in @Model)
            {

                <div class="inner product-item  wow fadeIn" data-wow-delay="0ms" id="product-8643760656">
                    <div class="inner-top">
                        <div class="product-top">
                            <div class="product-image">
                                <a href="~/snacks/products/granola-dela-casa.html" class="product-grid-image">
                                    <img src="~/ImgProductos/@item.ComidaImagen.First().Imagen" alt="@item.Descripcion">
                                    <div class="hover"></div>
                                </a>
                            </div>



                            <div class="product-des">


                                <a class="wishlist" href="~/account/login.html" title="Añadir a la lista de deseos" data-translate="wishlist.general.note" translate-item="title">
                                    <span class="icon"></span>
                                    <span data-translate="wishlist.general.add_to_wishlist">
                                        Añadir a la lista de deseos
                                    </span>
                                </a>



                                <div class="action">

                                    <form action="https://getup.com.pe/cart/add" method="post" class="variants" id="product-actions-8643760656" enctype="multipart/form-data" style="padding:0px;">


                                        <input class="btn" type="button" onclick="window.location.href='../products/granola-dela-casa.html'" value="add to cart" data-translate="products.product.select_options" />


                                    </form>
                                </div>


                                <div class="quickview-button">
                                    <a href="javascript:void(0)" id="granola-dela-casa" title="@item.Descripcion" data-translate="products.product.quick_view" translate-item="title"><span data-translate="products.product.quick_view">@item.Descripcion</span></a>
                                </div>


                            </div>

                        </div>

                        <div class="product-bottom">
                            <a class="product-title" href="~/snacks/products/granola-dela-casa.html">

                                <span class="lang1">@item.Denominacion</span>
                                <span class="lang2">Granola de la casa</span>

                            </a>



                            <div class="price-box">

                                <p class="regular-product">
                                    <span><em>precio </em>S/. @item.Precio</span>
                                </p>

                            </div>
                        </div>
                    </div>


                </div>


            }




        </div>
        
          <div class=" no_crop_image grid-item col-xs-6 col-sm-4 col-md-4 col">
            





        
      
    </div>
    
    
    
        
  </div>
</div>

 
<script src="../../ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
<script src="../../cdn.shopify.com/s/files/1/1534/3917/t/14/assets/jquery.products.min163b.js?13797207298018700788" type="text/javascript"></script>

<section class="recently-viewed-products">
  
    
    <h2 class="lang1">estuviste revisando</h2>
    <h2 class="lang2">You were reviewing</h2>
    
  
  <div class="products-grid owl-carousel row" id="recently-viewed-products-grid">
  </div>
</section>



<script>
  function splitTitle(title) {
    if (title.indexOf("|") < 0) 
      return title;
    var titleArr = title.split("|");
    return titleArr[translator.current_lang - 1];
  }
</script>




<script id="recently-viewed-product-grid-template"  type="text/x-jquery-tmpl">

<div class="  no_crop_image  grid-item  col-xs-6 col-sm-4 col">
  <div id="product-${id}" class="inner product-item{{if !available}} sold-out {{/if}}{{if compare_at_price_min > price_min}} on-sale {{/if}}">
    <div class="inner-top">
      <div class="product-top">
        <div class="product-image">
          <a href="${url}" class="product-grid-image">
            <img src="${Shopify.Products.resizeImage(featured_image, "large")}" alt="${featured_image.alt}"/>
            <div class="hover"></div>
          </a>
        </div>
        
        {{if compare_at_price_min > price_min || !available}}
        <div class="product-label">
          {{if compare_at_price_min > price_min}} 
          	   <strong class="label" data-translate="products.product.sale">Venta</strong>
          {{/if}}
          {{if !available}}
             <strong class="sold-out-label" data-translate="products.product.sold_out">Agotado</strong>
          {{/if}}
        </div>
        {{/if}}
      </div>

      <div class="product-bottom">
        
        
        
          <a class="product-title" href="${url}">${splitTitle(title)}</a>
        
        
        
        
        <span class="shopify-product-reviews-badge" data-id="${id}"></span>

        <div class="price-box">   
        {{if compare_at_price_min > price_min}} 
          <p class="sale">
            <span class="old-price"> {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</span>
            <span class="special-price">{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
          </p>
        {{else}}
          <p class="regular-product">
            <span >{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
          </p>
        {{/if}}
        </div>
        
        <div class="action">
          <form action="/cart/add" method="post" class="variants" id="product-actions-${id}" enctype="multipart/form-data" style="padding:0px;">    
            {{if !available}} 
            <input class="btn add-to-cart-btn" type="submit" data-translate="products.product.unavailable" value="No disponible" disabled="disabled"/>
            {{else variants.length > 1 }}
            <input class="btn" type="button" onclick="window.location.href='${url}'" data-translate="products.product.select_options" value="Selecciona opciones"/>
            {{else}}
            <input type="hidden" name="id" value="${variants[0].id}" />      
            <input class="btn add-to-cart-btn" type="submit" data-translate="products.product.add_to_cart" value="Agregar al carrito"/>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</script>


<script>
Shopify.Products.showRecentlyViewed({ 
  howManyToShow: 5, 
  wrapperId: 'recently-viewed-products-grid', 
  templateId: 'recently-viewed-product-grid-template',
  onComplete: function() {
    if (jQuery("#recently-viewed-products-grid").children().length > 0) {
  	  jQuery(".recently-viewed-products").show();
  	  if (window.product_image_resize) {
          jQuery('#recently-viewed-products-grid img').fakecrop({ 
            fill: window.images_size.is_crop,
            widthSelector: ".products-grid .product-image",
            ratioWrapper: window.images_size
          });
  	  }
  
  	  if (window.show_multiple_currencies) {
         Currency.convertAll(window.shop_currency, jQuery('#currencies').val(), 'span.money', 'money_format');
      }
  
      
      if (translator.current_lang == 2)
        translator.doTranslate(".recently-viewed-products");
      
  
      jQuery("#recently-viewed-products-grid").owlCarousel({
        autoPlay: 8000,     
        scrollPerPage: true,
        slideSpeed: 500,
        stopOnHover: true,     
        navigation: true,
        itemsTablet: [767,3],
        itemsTabletSmall: [721,2]
      });
      if (jQuery(".spr-badge").length>0) {
          return window.SPR.registerCallbacks(), window.SPR.initRatingHandler(), window.SPR.initDomEls(), window.SPR.loadProducts(), window.SPR.loadBadges();
      }
    }    
  }
});
</script>

  </main>
